* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
header {
  width: 100%;
  padding: 2rem;
}



main {
  width: 100%;

}

.clock-container {
  max-width: 20rem;
  margin: 0 auto;
  padding: 2rem;
  font-size: 2rem;
}

footer {
  width: 100%;
  padding: 2rem;
}