* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}

.clock-container {
  width: fit-content;
  color: #32292f;
  background-color: #f4afab;
  margin: 10% auto;
  vertical-align: middle;
  padding: 1rem 3rem 2rem;

  font-size: 10rem;
  border-radius: 1rem;
}
