* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: roboto;
}

*::-webkit-scrollbar {
  display: none;
}

html {
  background-color: white;
  max-height: fit-content;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  color: #0a0a0a;
  background-color: #f8f1f1;
  margin: 0 auto;
  scroll-behavior: smooth;
}

/*body::-webkit-scrollbar {
  display: none;
}*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vw;
  background-color: #f3f5f6;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: 0.5s;
}

.header-container {
  width: 33.3%;
}

main {
  max-width: 100vw;
  height: 100%;
  min-height: 38vw;
  max-height: 38vw;
}

#main-container {
  background-color: #f3f5f6;
  z-index: 1000;

  min-height: 48vw;
  max-height: 48vw;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: #f3f5f6 !important;
  width: 100%;
  z-index: 100;
  height: 10vw;
  display: flex;
  flex-direction: column;
  padding-top: 2vw;

  justify-content: center;
  background-color: inherit;
  margin-top: auto;
  -webkit-box-shadow: 0px -7px 5px -7px #DCE2E5; 
  box-shadow: 0px -7px 5px -7px  #DCE2E5);
}

footer img {
  width: 4vw;
  height: 4vw;
  min-width: 1rem;
  min-height: 1rem;
  opacity: 50%;
  margin: 0 1.5vw;
}

address {
  display: flex;
  justify-content: center;
}


.clock-container {
  width: 100%;
  max-width: 100vw;

  background-color: #e2ebf3;
  margin: 0 auto;

  -webkit-box-shadow: #d4e2ed 0px 1vw 2vw 0px;
  box-shadow: #d4e2ed 0vw .2vw .8vw 0px;
  transition: all 0.1s linear;
  max-height: 35vw;
  min-height: 35vw;
  font-size: 25vw;

  color: #1f1f1f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock-container:focus {
  outline: none;
}

#hour {
  margin-right: 1vw;
}

#minute {
  margin-left: 1vw;
}

#time-divider {
  padding-bottom: 3vw;
}

.clock-container div {
  display: flex;
}

#logo {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  margin-left: 2.3vw;
  padding: 0;
  font-weight: 200;
  font-size: 5.1vw;
  color: #292929;
  float: left;
}

#date {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 4.5vw;
  font-weight: 200;
  padding-top: 0.2vw;
  color: #0a0a0a;
}

#menu {
  background-color: transparent;
  margin: 0;
  margin-right: 0vw;
  padding: 0;
  padding-top: 0.5vw;
  border: none;
  opacity: 60%;
  transition: 0.3s;
  transform: scale(0.1);
  float: right;
}

#menu img {
  width: 5.5vw;
}

#menu:hover {
  cursor: pointer;
  opacity: 100%;
}

#menu:focus {
  outline: none;
  opacity: 80%;
}

#clock-menu {
  width: 100%;
}

#alarm-container {
  width: 100%;
  height: 100%;
  background-color: #e4f1e4;
  max-height: 35vw;
  min-height: 35vw;
  display: none;
  box-shadow: #d7ead7 inset 0 0 5vw;
  transition: 0.3s ease-in;

  justify-content: center;
}

#alarm-hour {
  display: none;

  transition: 0.7s;
  color: #3d3d3d;

  margin-right: 2vw;

  width: 40vw;
  text-align: right;
}

#alarm-min {
  display: none;
  transition: 0.7s;
  color: #3d3d3d;

  width: 40vw;
  text-align: left;
  margin-left: 2vw;
}

.input-container {
  font: 400 24vw Roboto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.1s linear;
  color: #3d3d3d;
  align-self: center;
  height: 100%;
  height: 35vw;
  padding: 3vw 0vw;
  width: 100vw;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 0.3s;
}

.left {
  position: relative;
  left: 10vw;
}

.right {
  position: relative;
  right: 10vw;
}

.arrow {
  width: 2.5vw;
  transition: 0.7s;
  margin: 1vw 1vw;
  opacity: 70%;
}

.input-list {
  height: 26vw;
  overflow: scroll;
  min-width: 40vw;
  list-style: none;
}

.input-list::-webkit-scrollbar {
  display: none;
}

#hour-list {
  margin-left: 2vw;
  display: block;
}
#min-list {
  margin-right: 2vw;
  display: block;
}

.alarm-option {
  color: #666666;
  width: 100%;
}

.alarm-option:hover {
}

.alarm-option:focus {
  outline: none;
}

.hour-option {
  text-align: right;
  /* display: flex;
  flex-direction: column;
  align-items: flex-end;
  
  justify-content: center; */
  padding-right: 2vw;
}

.min-option {
  text-align: left;
  /* display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; */
  padding-left: 2vw;
}

.alarm-container {
  background-color: #f8f1f1;
  height: 100%;
  height: calc(100vh - 58vw);

  width: 100%;

  margin: 0 auto;
  z-index: 3000;

  padding: 4vw 4vw 0vw;
}

#alarm-list-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 0;
  

  padding: 4vw 0vw 0vw;
  height: calc(100vh - 62vw);
  transition: 0.5s;
}

#alarm-list-container h3 {
  font-size: 5vw;
}

.alarm-list-header {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 200;
  padding-bottom: 2vw;
  color: #0a0a0a;
  overflow: hidden;
}

#alarm-list {
  height: calc(100vh - 74vw);
  overflow: scroll;
  scroll-behavior: smooth;
}

#exit-alarm-button {
  background-color: transparent;
  margin: 0;
  margin-right: 1.3vw;
  padding: 0;

  border: none;
  opacity: 60%;
  transition: 0.3s;
  display: none;
  padding-top: 0.5vw;
  float: right;
}

#exit-alarm-button img {
  width: 7vw;
}

#exit-alarm-button:hover {
  cursor: pointer;
  opacity: 100%;
}

#exit-alarm-button:focus {
  outline: none;
}

#save-alarm-button {
  display: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 10vw;
  
  position: relative;
  left: 46vw;
  bottom: 12vw;

  border: none;
  opacity: 50%;
  transition: 0.3s;
  z-index: 2000;

  padding: 2vw;
}

#save-alarm-button img {
  width: 6vw;
}

#save-alarm-button:hover {
  cursor: pointer;
  opacity: 100%;
}

#save-alarm-button:focus {
  outline: none;
}

.alarm-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3vw;
  margin: 4.5vw 4vw 4vw;
  padding: 2.8vw 2.5vw;
  padding-left: 3.5vw;
  border-radius: 0.4rem;
  color: #666666;
  transition: 0.5s;
  /* background-color: #fadcdb;
  box-shadow: #f8cbc9 0vw 0.4vw 0.8vw 0vw inset; */
}

.alarm-list-item:focus {
  outline: none;
  border: none;
}

.alarm-list-item:focus {
  box-shadow: 1px 2px 13px 0px #F1E4E4;
}
 

.alarm-list-item:first-child { 
  margin-top: 2vw;
}



/* .alarm-list-item:nth-child(3n + 2) {
  background-color: #fff3d6;
  box-shadow: #ffedc2 0vw 0.4vw 0.8vw 0vw inset;
}

.alarm-list-item:nth-child(3n + 3) {
  background-color: #e4f1e4;
  box-shadow: #d7ead7 0vw 0.4vw 0.8vw 0vw inset;
}
 */
.alarm-list-item h5 {
  font-size: 5vw;
  font-stretch: expanded;
  font-family: monospace;
  color: #666666;
  transition: 0.3s;
}

.alarm-list-item button:hover {
  cursor: pointer;
}

.alarm-list-item-inactive {
  opacity: 50%;
}

.alarm-list-item-inactive h5 {
  text-decoration: line-through;
}

.alarm-input {
  transition: all 0.3s ease;
  cursor: pointer;
}

#input-hour {
  text-align: right;
  margin-right: 3vw;
  cursor: pointer;
}

#input-min {
  text-align: left;
  margin-left: 3vw;
  cursor: pointer;
}

.alarm-button {
  background-color: transparent;
  margin: 0;
  padding: 0;

  border: none;
  opacity: 50%;
  transition: 0.3s;
  margin-top: 0.16vw;
  transition: 0.3s;
}

.alarm-button:hover {
  opacity: 100%;
}

.alarm-button:focus {
  outline: none;
}

.alarm-button img {
  width: 4vw;
  height: 4vw;
}



.alarm-button:last-child img {
  width: 6vw;
  height: 6vw;
}
